#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

#header {
  padding: 10px;
  color: green;
  text-shadow: 1px 1px 1px #957dad,
    1px 2px 1px #957dad,
    1px 3px 1px #957dad,
    1px 4px 1px #957dad,
    1px 5px 1px #957dad,
    1px 6px 1px #957dad,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

.WelcomeHeading {
  text-decoration: green underline;
  color: rgb(225, 178, 6);
}


.ArticleCard {
  border: 2px solid rgb(229, 255, 0);
  border-radius: 12px;
  padding: 5px;
}

.SingleArticle {
  border: 2px solid rgb(229, 255, 0);
  border-radius: 12px;
  padding: 20px;
}

.like-btn {
  border-radius: 5px
}

.dislike-btn {
  border-radius: 5px
}

.img {
  width: 100px;
  height: 100px
}

.SingleArticleImg {
  width: 300px;
  height: 300px
}

.CommentCard {
  border: 2px solid rgb(3, 74, 240);
  border-radius: 12px;
  padding: 10px;
}