:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: white;
  --foreground-color: blue;
  --primary-text-color: black;
  --secondary-text-color: white;
  --toggle-bg: rgb(240, 240, 55);
  --toggle-fg: rgb(141, 141, 4);

  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

[data-theme='dark'] {
  --background-color: black;
  --foreground-color: rgb(40, 40, 252);
  --primary-text-color: white;
  --secondary-text-color: black;
  --toggle-bg: rgb(5, 5, 121);
  --toggle-fg: blue;

}